<p id="notice"><%= notice %></p>

<h1>Grocers</h1>

<%= link_to 'My Orders', orders_path, class: "col-md-6 btn-link"%>

<table>
  <thead>
    <tr>
      <th>Grocer Name</th>
      <th>Grocer Address</th>
      <th>Grocer Contact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grocers.each do |grocer| %>
      <tr>
        <td><%= grocer.name %></td>
        <td><%= grocer.address %></td>
        <td><%= grocer.phone_no %></td>
        <td><%= link_to 'Show', grocer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

